:root {
  --PrimaryColor:hsl(26,93%,50%);
  --HoverColor:hsl(26,90%,42%);
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(0,0%,18%);
  --textColor:hsl(240,1%,48%);
  --whiteColorDeam:hsl(0,0%,93%);
  --greyBg: hsl(0,0%,96%);
  --greyText:rgb(190,190,190);
  --inputColor:hsl(330,12%,97%);
}

.home {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.522)), to(rgba(33, 33, 33, 0.522))), url("../../Assets/img4.jpg");
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url("../../Assets/img4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  position: relative;
}

.home .setContainer .homeText {
  text-align: center;
}

.home .setContainer .homeText .title {
  color: var(--whiteColor);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.home .setContainer .homeText .subTitle {
  color: var(--whiteColor);
  opacity: .9;
  font-size: 13px;
  font-weight: 300;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
}

.home .setContainer .homeText .btn {
  padding: .6rem 1.5rem;
}

.home .setContainer .homeCard {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--whiteColor);
  position: absolute;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -35%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  left: 50%;
  -webkit-box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
          box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}

.home .setContainer .homeCard .locationDiv, .home .setContainer .homeCard .distDiv, .home .setContainer .homeCard .priceDiv {
  width: 100%;
}

.home .setContainer .homeCard .locationDiv label, .home .setContainer .homeCard .distDiv label, .home .setContainer .homeCard .priceDiv label {
  display: black;
  color: var(--textColor);
  font-weight: 500;
  font-size: 13px;
  padding-bottom: .4rem;
}

.home .setContainer .homeCard .locationDiv input, .home .setContainer .homeCard .distDiv input, .home .setContainer .homeCard .priceDiv input {
  width: 100%;
  background: var(--inputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

.home .setContainer .homeCard .locationDiv input::-webkit-input-placeholder, .home .setContainer .homeCard .distDiv input::-webkit-input-placeholder, .home .setContainer .homeCard .priceDiv input::-webkit-input-placeholder {
  font-size: 13px;
  opacity: .5;
  font-weight: 400;
}

.home .setContainer .homeCard .locationDiv input:-ms-input-placeholder, .home .setContainer .homeCard .distDiv input:-ms-input-placeholder, .home .setContainer .homeCard .priceDiv input:-ms-input-placeholder {
  font-size: 13px;
  opacity: .5;
  font-weight: 400;
}

.home .setContainer .homeCard .locationDiv input::-ms-input-placeholder, .home .setContainer .homeCard .distDiv input::-ms-input-placeholder, .home .setContainer .homeCard .priceDiv input::-ms-input-placeholder {
  font-size: 13px;
  opacity: .5;
  font-weight: 400;
}

.home .setContainer .homeCard .locationDiv input::placeholder, .home .setContainer .homeCard .distDiv input::placeholder, .home .setContainer .homeCard .priceDiv input::placeholder {
  font-size: 13px;
  opacity: .5;
  font-weight: 400;
}

.home .setContainer .homeCard .locationDiv input:focus, .home .setContainer .homeCard .distDiv input:focus, .home .setContainer .homeCard .priceDiv input:focus {
  outline: none;
}

.home .setContainer .homeCard .btn {
  width: 100%;
  padding: .6rem 1.5rem;
  color: var(--whiteColor);
  font-weight: 600;
}
/*# sourceMappingURL=home.css.map */